@import url("https://fonts.googleapis.com/css?family=Trirong");

body {
    background-color:black;
    font-family: "Trirong";
}

tr{

    border: 1px solid rgb(221, 221, 221);
}

td
{
    padding: 12px;
}

.heading {
	color: rgb(216, 191, 216);
	font-size: 60px;
    text-align: center;
    font-style: "Advent Pro";
};

.todoList {
    background-color: rgb(230,230,230);
    margin: auto;
    width: 30%;
	min-height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: center;

}

.tableStyle
{
    border: 1px solid rgb(221, 221, 221);
    color: rgb(134, 134, 134);
    width: 100%;
    border-collapse: collapse;
}

.inputStyle 
{
    border:0;
    outline: none;
    color: rgb(134, 134, 134);
    font-family: "Trirong";
    
}

.rowContainer {
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
	margin-top: 0;
    background-color: white;
    width: 70%;
};

.xbutton
{
    color: white;
    cursor: pointer;
}

.xbutton:hover
{
    color: rgb(190, 190, 190);
}